{% extends "groups/group_base.html" %}
{% block pregroup %}
<div class="col-md-8">
  <div class="content">
    {% if user.is_authenticated %}
      <br><h2>Welcome back
        <a class="ref" href="{% url 'posts:for_user' username=user.username %}">
          @{{user.username}}!
        </a>
      </h2>
    {% endif %}
    <br>
    <h2>Groups</h2>
    <p>Click to join and see the posts!</p>
    <p class="description">Can't you see your game? No problem!</p>
  </div>
  {% if user.is_authenticated %}
    <a href="{% url 'groups:create' %}" class="btn btn-dark btn-lg button">
      <span class="fa fa-plus-circle"></span> Create a new group
    </a>
  {% endif %}
</div>
{% endblock %}


{% block group_content %}
  <div class="col-md-8">
    <ul class="list-group"><br>
      {% for group in object_list %}
        <a class="list-group-item" href="{% url 'groups:single' slug=group.slug %}">
          <h2>{{ group.name }}</h2>
          <h5 class="description">{{ group.description_html|capfirst|safe }}</h5>
          <div class="list-group-item-text container fluid">
            <div class="row">
              <div class="col-md-4">
                <span class="badge badge-pill">{{ group.members.count }}</span>
                Member{{ group.members.count|pluralize }}
              </div>
              <div class="col-md-4">
                <span class="badge badge-pill">{{ group.posts.count }}</span>
                Post{{ group.posts.count|pluralize }}
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </ul><br>
    <div class="paginator">
      <!-- PAGINATION -->
      {% if is_paginated %}

        {% if page_obj.has_previous %}
          <a class="btn btn-dark button" href="?page=1">First</a>
          <a class="btn btn-dark button" href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <a class="btn btn-outline-light button" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
              <a class="btn btn-dark button" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a class="btn btn-dark button" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-dark button" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
          {% endif %}

      {% endif %}
    </div>
  </div>
{% endblock %}
