{% extends "groups/group_base.html" %}

{% block pregroup %}

<div class="container">
  <br><h1>{{ group.name }}</h1>
  <h5 style="color: #ffc857;">{{ group.description }}</h5>
  <p>Join the group to make it more popular!</p><br>

  <div class="content">
    {% if user in group.members.all %}
      <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-dark btn-lg button">
        <span class="fa fa-sign-out"></span> Leave</a>
        <a href="{% url 'posts:create' %}" class="btn btn-dark btn-lg button">
          <span class='fa fa-gamepad'></span> Post</a>
    {% else %}
      <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-dark btn-lg button">
        <span class='fa fa-heart'></span> Join</a>
    {% endif %}
  </div>
  <p>Member Count: {{ group.members.count }}</p>
</div>
{% endblock %}

{% block group_content %}
<div class="container">
  {% if group.posts.count == 0 %}
    <br><h2>No posts in this group yet!</h2>
  {% else %}
    <br><br><h1 class="heading">Posts</h1>
    {% for post in group.posts.all %}
      {% include "posts/_post.html" %}
    {% endfor %}
  {% endif %}

</div>
{% endblock %}
