body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #451f5c;
  color: white;
}

#leftbox {
  margin-top: 50px;
  float: left;
  width: 25%;
  height: 1px;
}

#canvas {
  position: absolute;
  z-index: -1
}

#content {
  margin-top: 50px;
  float: left;
  width: 50%;
  height: 100%;
}

.heading {
  text-align: center;
}

.button {
  background-color: #573271;
}

.button:hover{
  background-color: #49265d;
  color: #fff6ed;
  border: 1px solid #49265d;
}

/* GROUP PAGE */

.list-group {
  width: 150%;
}

.list-group-item {
  background-color: #573271;
  color: white;
  border-radius: 8px;
  margin-bottom: 5px;
}

.list-group-item:hover {
  background-color: #49265d;
  color: #fff6ed;
}

.badge-pill {
  background-color: #451f5c;
  color: white;
}

.ref {
  color: #ffc857;
}

.ref:hover {
  color: #ff7d00;
}

.description {
  color: #ffc857;
}

.paginator {
  text-align: center;
  width: 150%;
}
