:root {
  --bg-color: #451f5c;
  --primary-color: #573271;
  --secondary-color: #49265d;
  --badge-color: #451f5c;

  --ref-color: #ffc857;
  --ref-hover-color: #ff7d00;
  --white-hover: #fff6ed;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--bg-color);
  color: white;
  font-family: 'Roboto', sans-serif;
}

.heading {
  margin-top: 10%;
  font-weight: bold;
  text-align: center;
  color: var(--ref-color);
}

span.text {
  transition: all 0.2s ease;
}

span.wave{
  color: white;
}

.button {
  background-color: var(--primary-color);
}

.button:hover{
  background-color: var(--secondary-color);
  color: var(--white-hover);
  border: 1px solid var(--secondary-color);
}

.delete-button{
  background-color: var(--ref-color);
  border: 1px solid var(--ref-hover-color);
  color: black;
}

.delete-button:hover{
  background-color: var(--ref-hover-color);
  border: 1px solid var(--ref-color);
  color: var(--white-hover);
}

/* GROUP PAGE */

.list-group {
  width: 150%;
}

.list-group-item {
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  margin-bottom: 5px;
}

.list-group-item:hover {
  background-color: var(--secondary-color);
  color: var(--white-hover);
}

.badge-pill {
  font-size: 13px;
  margin-right: 5px;
  background-color: var(--badge-color);
  color: var(--ref-color);
}

.ref {
  color: var(--ref-color);;
}

.ref:hover {
  color: var(--ref-hover-color);
}

.description {
  color: var(--ref-color);;
}

.paginator {
  text-align: center;
  width: 150%;
}

/* Background effect */

#leftbox {
  margin-top: 50px;
  float: left;
  width: 25%;
  height: 1px;
}

#canvas {
  position: absolute;
  z-index: -1
}

#content {
  margin-top: 50px;
  float: left;
  width: 50%;
  height: 100%;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--ref-hover-color);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ref-color);;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--ref-hover-color);
}
