body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #451f5c;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#leftbox {
  margin-top: 50px;
  float: left;
  width: 25%;
  height: 1px;
}

#canvas {
  position: absolute;
  z-index: -1
}

#content {
  margin-top: 50px;
  float: left;
  width: 50%;
  height: 100%;
}

.heading {
  text-align: center;
}

.button {
  background-color: #573271;
}

.button:hover{
  background-color: #49265d;
  color: #fff6ed;
  border: 1px solid #49265d;
}

.delete-button{
  background-color: #ffc857;
  border: 1px solid #ff7d00;
  color: black;
}

.delete-button:hover{
  background-color: #ff7d00;
  border: 1px solid #ffc857;
  color: white;
}

/* GROUP PAGE */

.list-group {
  width: 150%;
}

.list-group-item {
  background-color: #573271;
  color: white;
  border-radius: 8px;
  margin-bottom: 5px;
}

.list-group-item:hover {
  background-color: #49265d;
  color: #fff6ed;
}

.badge-pill {
  background-color: #451f5c;
  color: white;
}

.ref {
  color: #ffc857;
}

.ref:hover {
  color: #ff7d00;
}

.description {
  color: #ffc857;
}

.paginator {
  text-align: center;
  width: 150%;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc857;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff7d00;
}
