{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game Social</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="icon" href="{% static 'socialmedia/images/logo.png' %}">

    <!-- icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'socialmedia/css/master.css' %}">

  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #573271;">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'socialmedia/images/logo.png' %}" width="25" height="25" class="d-inline-block align-text-top" alt="">
          Game Social
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'posts:for_user' username=user.username %}">My Posts</a>
            </li>
            {% endif %}
          </ul>
        </div>

        <!-- Right align -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'posts:create' %}">Post</a></li>
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'groups:all' %}">Groups</a></li>
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'groups:create' %}">Create Group</a></li>
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'accounts:logout' %}">Log Out</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'groups:all' %}">Groups</a></li>
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'accounts:login' %}">Log In</a></li>
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'accounts:signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
      </div>
    </nav>

    <div id="leftbox">
      <canvas id="canvas"></canvas>
    </div>

    <div class="container" id="content">

      <!-- MESSAGES -->
      {% if messages %}
      <div class="messages alert alert-success" role="alert">
          {% for message in messages %}
              <strong>{{ message }}</strong>
          {% endfor %}
      </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>

    {% if not user.is_authenticated %}
    <div id="warning">
      <h5 class="description" style="">
        Please
        <a class="ref" href="{% url 'accounts:login' %}" style="text-decoration: underline;" >Log In</a>
          or
        <a class="ref" href="{% url 'accounts:signup' %}" style="text-decoration: underline;">Create an Account</a>
          to see the full functionality of the website!
      </h5>
    </div>
    {% endif %}

    <script src="{% static 'socialmedia/js/master.js' type="text/javascript" %}">
    </script>
    <script src="{% static 'socialmedia/js/fade.js' type="text/javascript" %}">
    </script>
  </body>


</html>
